::selection {
  color: #fff;
  background-color: #444;
}

.font-display {
  font-family: "Playfair Display", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

html {
  font-family: "Work Sans", sans-serif;
  line-height: 1.65;
  letter-spacing: 0.004em;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-weight: 400;
  font-size: 1rem;
  color: #5f5f5f;
  background-color: #f6f6f6;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.bg-fff {
  background-color: #fff;
}

.color-17 {
  color: #171717;
}

.container {
  margin: 0 auto;
  width: 1140px;
  max-width: 100%;
}

.hover-op6:hover {
  opacity: 0.6;
}

/* main */

.header {
  position: relative;
}

.navbar {
  padding: 33px 0;
}

.nav-logo img {
  width: 85px;
}

.navbar-right {
  position: relative;
  padding-left: 20px;
  display: inline-block;
  text-transform: uppercase;
}

.navbar-right li {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 6px 14px;
  display: inline-block;
  transition: color 0.3s;
}

li:hover {
  color: #0e0e0e;
}

.main {
}

.main-img {
  padding-top: 50%;
  background: url(./img/post-6.jpg) center / cover no-repeat;
}

.content-section {
  width: 66.666667%;
  margin: 0 auto;
}

.pad-t80-b60 {
  padding: 80px 0 60px;
}

.pad-t-b60 {
  padding: 60px 0;
}

.blog,
.comment,
.pagination,
.footer {
  padding: 0 15px;
}

.blog-title {
  font-size: 2.5rem;
  line-height: 1.1;
}

.blog-meta {
  margin-top: 15px;
}

.blog-meta-text p {
  font-size: 0.8rem;
  margin-right: 44px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
}

.blog-meta-text p a {
  transition: opacity 0.5s;
}

.blog-text {
  font-size: 0.95rem;
  margin: 25px 0;
}

.blog-text p:not(:last-child) {
  margin-bottom: 15px;
}

blockquote {
  font-size: 1.3rem;
  line-height: 1.55;
  margin-bottom: 15px;
}

.blog-share a {
  color: #171717;
  font-size: 0.94rem;
  transition: opacity 0.5s;
}

.blog-share strong {
  font-size: 0.94rem;
  font-weight: 500;
  margin-right: 5px;
}

.coment-title {
  font-size: 1.585rem;
}

.comment-user {
  overflow: hidden;
  margin: 45px 0;
}

.comment-avatar {
  line-height: 120px;
}

.comment-avatar img {
  height: 100px;
  margin-right: 30px;
  border-radius: 100%;
  transition: opacity 0.5s;
}

.comment-name {
  font-weight: 500;
}

.comment-info a {
  transition: opacity 0.5s;
}

.comment-info {
  flex: 1;
  gap: 20px;
  flex-wrap: wrap;
  line-height: 1.7rem;
}

.comment-meta {
  gap: 44px;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.comment-user:nth-child(odd) {
  margin-left: 100px;
}

.gap-0 {
  gap: 0;
}

.sefl-center {
  align-self: center;
}

.name-mail {
  padding: 45px 0 30px;
}

.name input,
.mail input {
  height: 50px;
  width: 350px;
}

.form-control {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.1rem;
  padding: 4px 16px;
  background-color: #fff;
}

.form-submit {
  margin-top: 30px;
}

.btn-submit {
  border: none;
  outline: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  padding: 18px 25px;
  text-transform: uppercase;
  background-color: #252525;
  transition: opacity 0.5s;
}

.pagination-content {
  padding: 20px 0;
  font-size: 1.08rem;
  text-align: center;
  text-transform: uppercase;
}

.left {
  padding: 20px 48px 20px 0;
  transition: opacity 0.5s;
}

.center {
  flex: 1;
  color: #171717;
  align-self: center;
  transition: opacity 0.5s;
}

.right {
  padding: 20px 0 20px 48px;
  transition: opacity 0.5s;
}

.footer {
  padding: 44px 0 32px;
  text-align: center;
}

.fon-sz16 {
  font-size: 16px;
}

.media-icon {
  opacity: 0.4;
  padding: 0 7px;
  transition: opacity 0.5s;
}

.media-icon:hover {
  opacity: 1;
}

.fontsz-12 {
  font-size: 14px;
}

.footer-text {
  font-size: 0.9rem;
  margin: 12px 0 24px;
}

.fa-chevron-left {
  padding-right: 6px;
}

.fa-chevron-right {
  padding-left: 6px;
}
